keras==2.13.1  # or keras==3.6.0, choose one version
matplotlib==3.7.2  # or choose one version from the others
numpy==1.24.3  # or choose one version from the others
pandas==1.4.4
plotly==5.18.0  # or choose one version from the others
python_dateutil==2.8.2
scikit_learn==1.0.2
streamlit==1.36.0
streamlit_option_menu==0.3.13
